*+html, body{
	padding: 0;
	margin: 0;
}
#particles {
	background: transparent;
	display:block;
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	margin:auto;
	z-index:75;
	mix-blend-mode:overlay;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.particle {
	position:absolute;
	width:5%;
	height:5%;
	max-width:12px;
	max-height:12px;
	background:url(stars1.png) no-repeat center;
	background-size:12px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	background-size: contain !important;
	opacity: 0.5;
}
.particle:nth-child(-n+60){
	background:url(stars1.png) no-repeat center;
}
.particle:nth-child(-n+50){
	background:url(stars2.png) no-repeat center;
}
.particle:nth-child(-n+40){
	background:url(stars3.png) no-repeat center;
}
.particle:nth-child(-n+30){
	background:url(stars4.png) no-repeat center;
}
.particle:nth-child(-n+20){
	background:url(stars5.png) no-repeat center;
}
.particle:nth-child(-n+10){
	background:url(stars6.png) no-repeat center;
}
#emitter {
	position:fixed;
	top:0%; left:0%; bottom:0%;
	width:100%;
	height:100%;
	z-index:500;
	mix-blend-mode:screen;
		
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	backface-visibility:hidden;
}
.particle-1, .particle-2, .particle-3, .particle-4, .particle-5 {
	display:inline-block;
	position:fixed;
	width:4px;
	height:4px;
	background:#fff;	
	border-radius:50%;
	z-index:50;
	mix-blend-mode:overlay;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	backface-visibility:hidden;
}
.particle-2 {
	background:#ffd787;	
}
.particle-3 {
	background:#ffc341;	
}
.particle-4 {
	background:#ffebb9;	
}
.particle-5 {
	background:#fff5e6;	
}
